'fileTypes': [
  'inp',
  'out'
]
'name': 'Mplus'
'patterns': [
  {
    'name': 'keyword.control'
    'match': '^(TITLE|DATA|VARIABLE|DEFINE|SAVEDATA|ANALYSIS|MODEL|OUTPUT|MONTECARLO)'
  },
  {
    'match': '[\\s]{1,}((IMPUTATION|MEANS|ON|OFF|TYPE IS|FILE IS|NOBSERVATIONS ARE|NGROUPS|LISTWISE|VARIANCES|IMPUTE|NDATASETS|SAVE|FORMAT|VALUES|THIN|BINARY|CONTINUOUS|CATEGORICAL|USEVARIABLES ARE|NAMES|GROUPING|CLUSTER|WEIGHT|CLASSES|KNOWNCLASS|WITHIN|BETWEEN|MISSING|GENERAL|BASIC|MIXTURE|TWOLEVEL|RANDOM|COMPLEX|CROSSCLASSIFIED|EFA|ML|MLR|MLF|WLSMV|BAYES|CONFIGURAL|METRIC|FIXED|FREE|BOOTSTRAP|RESIDUAL|STARTS|ITERATIONS|ALGORITHM|BITERATIONS|XWITH|IND|OVERALL|STDY|STDYX))[\\s|\\$]'
    'name': 'support.name.function'
  },
  {
    'match': '[\\s]{1,}((IF|THEN|DO|_MISSING|MEAN|SUM|CUT|CLUSTER_MEAN|CENTER|STANDARDIZE)+)[\\s|\\$]'
    'name': 'entity.name.function'
  },
  {
    'match': '\\='
    'name': 'keyword.operator.assignment'
  },
  {
    'match': '\\:'
    'name': 'keyword.operator.assignment'
  },
  {
    'match': '\\;'
    'name': 'punctuation.statement.statement'
  },
  {
    'match': '[\+|-]'
    'name': 'keyword.operator'
  },
  {
    'match': '\\*'
    'name': 'keyword.operator'
  },
  {
    'match': '\\\/'
    'name': 'keyword.operator'
  },
  {
    'match': '(?:\\b\\d+[,.]|\\B[.,])?\\d+(?:e[-+]?\\d+)?\\b'
    'name': 'constant.numeric'
  },
  {
    'match': '!.*$'
    'name': 'comment.line'
  }
]
'scopeName': 'source.mplus'
